<div class="home">
    <div class="filter-section">
        <h4>Filter hotel By City and Rating</h4>
        <form [formGroup]="filterForm">
            <div class="form-group">
                <input type="text" placeholder="Enter city here"  formControlName="city">
            </div>
            <div class="form-group">
                <input type="tel" placeholder="Enter min rating" formControlName="minRating">
            </div>
            <div class="form-group">
                <input type="tel" placeholder="Enter max rating" formControlName="maxRating">
            </div>
            <div class="filter-cta">
                <button class="'" (click)="filterHotel()">Filter</button>
            </div>
        </form>
    </div>
    <div class="card">
        @for(hotel of getAllHotel; track $index){         
            <div class="card-body">
                <div class="card-img">
                    <img [src]="hotel.imageUrl" alt="" width="312px" height="250px">
                </div>
                <div class="hotel-details">
                    <div class="hotel-name">
                        <h4>{{hotel.name}}</h4>
                        <span>Rating: {{hotel.rating}}</span>
                    </div>
                    <div class="amenities">
                        <span class="label">Amenities</span> 
                        <div class="amenities-list">
                            <span [ngClass]="hotel.wifi === true ? 'active': 'not-provide'"><i class="fa-solid fa-wifi"></i> Wifi</span>
                            <span [ngClass]="hotel.pool === true ? 'active': 'not-provide'"><i class="fa-solid fa-person-swimming"></i> Pool</span>
                            <span [ngClass]="hotel.gym === true ? 'active': 'not-provide'"><i class="fa-solid fa-dumbbell"></i> GYM</span>
                        </div>
                    </div>
                </div>
                
            </div>
        } 
    </div>
    
</div>