<section>
    <div class="header">
        <div class="heading">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">Hotel Bookings</a>
        </div>
        <ul class="main-list">
            <li class="list" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</li>
            <li class="list" [routerLink]="['/service']" routerLinkActive="router-link-active">Services</li>
            <li class="list" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</li>
        </ul>
    </div>
</section>
